body
{
  color:rgb(164, 216, 21);
  text-align: center;
  background-image: url(Stark.jpg);
  image-orientation: center;
  background-size: cover;
}
head
{
  text-align: center;
  text-decoration: none;
}
div
{
  text-align: center;
}
